<!DOCTYPE html>
<html>
<body>
  <form action="/authenticate_user" method="POST">
    <fieldset>
      <legend>Login:</legend>
      Email address:<br>
      <input type="text" name="email_address" value="Mickey@gmail.com">
      <br><br>
      Password:<br>
      <input type="password" name="password" value="0000">
      <br><br>
    </fieldset><br>
    <input type="submit" value="Sign_in">
    <input type="submit" value="sign_up" formaction="/sign_up">
  </form>
    {% if error %}
    <H1>{{error_message}}</H1>
    {% endif%}
</body>
</html>
